<h1>Slideshows</h1>

<div id="screens">

	<% @screens.each do |screen| %>
			<span id="screen_<%= screen.id %>"><%= screen.text %></span><br />
	<% end %>

</div>

<script type="text/javascript">
	faye = new Faye.Client('http://localhost:9292/faye');
	faye.subscribe("/screens", function (data) {
		console.log(data);
		if (data.type == "create") {
			$("#screens").append("<span id=\"screen_"+ data.object.id +"\">"+ data.object.text +"</span>")
		} else if (data.type == "edit") {
			$("#screen_"+data.object.id).html(data.object.text)
		} else if (data.type == "destroy") {
			$("#screen_"+data.object.id).remove()
		}
	});
</script>